@tailwind base;
@tailwind components;
@tailwind utilities;

.gridui {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

@layer components {
  .menu_tab {
    @apply text-gray-800 cursor-pointer select-none;
  }
  .active_menu_tab {
    @apply rounded-full px-4 py-2 text-white select-none bg-red-500;
  }
}
