@tailwind base;
@tailwind components;
@tailwind utilities;

.gridui {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}
